.el-submenu .el-menu-item {
  font-size: 12px;
  padding-left: 60px !important;

  &.is-active {
    background-color: rgba(245, 108, 108, 0.2) !important;
  }
}

// 修改一级菜单样式
.el-submenu {
  &.is-active.is-opened .el-submenu__title {
    background-color: $mainColor !important;
  }
}

.close {
  .el-submenu {
    &.is-opened {
      > .el-submenu__title {
        background-color: $mainColor !important;
      }
    }
  }
}

.el-menu--vertical {
  .el-menu {
    background-color: $mainColor !important;
  }

  .el-menu-item:hover {
    background-color: $mainColor !important;
  }
}

/**
 table 样式
 */
div.el-table {
  td, th {
    text-align: center !important;
  }

  th {
    font-weight: bold;
    color: #344a5f;
  }
}

/**
 dialog样式
 */
.el-dialog__body {
  padding: 30px 47px !important;
}

/**
  按钮居中
 */
.el-dialog__footer {
  text-align: center;

  .el-button {
    width: 150px;
    margin: 0 11px;
  }

  padding-bottom: 50px !important;
}

/**
 重置from样式
 */
.el-form {
  .el-form-item:last-child {
    margin-bottom: 0 !important;
  }
}

div .el-form-item {
  margin-bottom: 22px !important;
}


